<!doctype html>
<html>
<head>
	{% block title_tag %}<title>Freenote</title> {% endblock %}
	<meta charset="UTF-8">
	<script src="/static/jquery.min.js"></script>
	<script src="/static/jquery-ui/jquery-ui.js"></script>
	<link href="/static/jquery-ui/jquery-ui.css" rel="stylesheet"/>
	
	<!-- FIXME: use local files -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<script src="/static/tinymce/tinymce.min.js"></script>
	<!-- <script src="tinymce/jquery.tinymce.min.js"></script> -->
	<script src="/static/upndown.bundle.min.js"></script>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
	
	{% raw %}
	<script id="searchbox-template" type="text/x-handlebars-template">
		<a href="/edit/{{notebook}}/{{note}}">
			<div class="searchbox">
				<p class="search-file">{{notebook}}/{{note}}</p>
				<p>{{{response}}}</p>
			</div>
		</a>
	</script>
	
	<script id="notebooks-template" type="text/x-handlebars-template">
		<div class="panel panel-primary">
			<div class="panel-heading"><h1 class="panel-title">Recent</h1></div>
			<div class="panel-body"></div>
		</div>
		<div class="panel panel-primary">
			<div class="panel-heading"><h1 class="panel-title">Notebooks</h1></div>
			<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				{{#each notebooks}}
				<li role="presentation">
					<a href="/notebook/{{this}}">{{this}}</a>
				</li>
				{{/each}}
			</ul>
			</div>
		</div>
	</script>
	<script id="notelist-template" type="text/x-handlebars-template">
		<div class="panel panel-primary">
			<div class="panel-heading"><h1 class="panel-title">{{notebook}}</h1></div>
			<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				{{#each notes}}
				<li role="presentation">
					<a href="/edit/{{../notebook}}/{{this}}">{{this}}</a>
				</li>
				{{/each}}
			</ul>
			</div>
		</div>
	</script>
	
	<script id="alert-error-template" type="text/x-handlebars-template">
		<div class="alert alert-danger alert-dismissible error-message" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>{{#if bolded}}{{bolded}}{{else}}Error{{/if}}:</strong> {{message}}
		</div>
	</script>
	{% endraw %}

	<script src="/static/freenote.js"></script>
	<link rel="stylesheet" href="/static/freenote.css">
</head>
<body>
<div class="modal fade" id="modal-new-note" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">New note</h4>
	  </div>
	  <div class="modal-body">
		<div id="m-note-fg-name" class="form-group">
			<label class="control-label" for="m-note-name">Name:</label>
			<input id="m-note-name" placeholder="Enter a note name" class="form-control">
			<span class="help-block"></span>
		</div>
		<div id="m-note-fg-nb" class="form-group">
			<label class="control-label" for="m-note-selected-notebook">Notebook:</label>
			<select id="m-note-selected-notebook" class="selectpicker form-control" data-live-search="true" title="Select a notebook"></select>
			<span class="help-block"></span>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button name="add" type="button" class="btn btn-primary">Add</button>
	  </div>
	</div>
	</div>
</div>
<div class="modal fade" id="modal-new-notebook" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title">New notebook</h4>
	  </div>
	  <div class="modal-body">
		<div id="m-notebook-fg-name" class="form-group">
			<label class="control-label" for="m-notebook-name">Name:</label>
			<input id="m-notebook-name" placeholder="Name the new notebook" class="form-control">
			<span class="help-block"></span>
		</div>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<button name="add" type="button" class="btn btn-primary">Add</button>
	  </div>
	</div>
	</div>
</div>
<div class="modal fade" id="modal-confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Delete note
            </div>
            <div class="modal-body">
                Are you sure you wish to delete this note?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>
	<div id="sidebar">
		<ol class="breadcrumb">
			{% block breadcrumb %}
			<li>Home</li>
			{% endblock %}
		</ol>
		<div id="nav-tools">
			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="New note"><span class="glyphicon glyphicon-file"
				aria-hidden="true" data-toggle="modal" data-target="#modal-new-note"></span></a>
			<a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="New notebook"><span class="glyphicon glyphicon-book"
				aria-hidden="true" data-toggle="modal" data-target="#modal-new-notebook"></span></a>
		</div>
		<div id="notebooks-wrapper">
			<div class="notebooks-list">
				{% block notebooks_list %}{% endblock %}
			</div>
		</div>
	</div>
	<div id="content">
		<div id="search-wrapper"> <!-- to handle clicks removing the search results -->
			<form class="navbar-form" role="search">
				<div class="input-group col-xs-10">
					<input type="text" placeholder="Search all notes" class="form-control" name="searchbar" tabindex="1">					
					<div class="input-group-btn">
						<button type="submit" class="btn btn-secondary"><span class="glyphicon glyphicon-search"></span></button>
						<!-- TODO: use bootstrap 4's btn-outline-primary -->
					</div>
				</div>
			</form>
			<div id="search-results-container"></div>
		</div>
		
		<div id="document-info">
			<input id="document-title" placeholder="Title" value="{{ note }}">
			<span id="document-status"></span>
		</div>
		<select id="document-notebook" class="selectpicker" data-live-search="true" title="Select a notebook">
		</select>
		<span data-toggle="modal" data-target="#modal-confirm-delete">
			<button id="document-delete" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="bottom" title="Delete note">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</button>
		</span>
		<div id="toolbar-container"></div>
		<div id="tinymce-area">{{ noteData|safe }}</div>
	</div>
</body>
</html>