{% extends "base.html" %}

{% block breadcrumb %}
<li>Home</li>
{% endblock %}

{% block notebooks_list %}
<div class="panel panel-primary">
	<div class="panel-heading"><h1 class="panel-title">Recent notes</h1></div>
	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked">
			{% for note in recentNotes %}<li role="presentation"><a href="/edit/{{ note[0] }}/{{ note[1] }}">{{ note[1] }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading"><h1 class="panel-title">Notebooks</h1></div>
	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked">
			{% for notebook in notebooks %}<li role="presentation"><a href="/edit/{{ notebook }}">{{ notebook }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}