{% extends "base.html" %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="/notebook/{{ notebook }}">{{ notebook }}</a></li>
<li>{{ note }}</li>
{% endblock %}

{% block notebooks_list %}
<div class="panel panel-primary">
	<div class="panel-heading"><h1 class="panel-title">{{ notebook }}</h1></div>
	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked">
			{% for note in notes %}
			<li role="presentation"><a href="/edit/{{ notebook }}/{{ note }}">{{ note }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}