{% extends "base.html" %}

{% block title_tag %}<title>{{ note }} - Freenote</title> {% endblock %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="/notebook/{{ notebook }}">{{ notebook }}</a></li>
<li>{{ note }}</li>
{% endblock %}

{% block nav_tools %}{{ super() }}
<a href="javascript:void(0)" id="delete-nb" class="text-danger" data-toggle="tooltip" data-placement="bottom" title="Delete notebook"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="modal" data-target="#modal-delete-notebook"></span></a>
{% endblock %}

{% block notebooks_list %}
<div class="panel panel-primary">
	<div class="panel-heading"><h1 class="panel-title">{{ notebook }}</h1></div>
	<div class="panel-body">
		<ul class="nav nav-pills nav-stacked">
			{% for note_ in notes %}
			{% if note == note_ %}<li role="presentation" class="active"><a href="/edit/{{ notebook }}/{{ note }}">{{ note }}</a></li>
			{% else %}<li role="presentation"><a href="/edit/{{ notebook }}/{{ note_ }}">{{ note_ }}</a></li>
			{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}