{% extends "base.html" %}

{% block title_tag %}<title>{{ note }} - Freenote</title> {% endblock %}

{% block breadcrumb %}
<li><a href="/">Home</a></li>
<li><a href="/edit/{{ notebook }}">{{ notebook }}</a></li>
<li>{{ note }}</li>
{% endblock %}

{% block nav_tools %}{{ super() }}
<a href="javascript:void(0)" id="delete-nb" class="text-danger" data-toggle="tooltip" data-placement="bottom" title="Delete notebook"><span class="glyphicon glyphicon-remove" aria-hidden="true" data-toggle="modal" data-target="#modal-delete-notebook"></span></a>
{% endblock %}

{% block notebooks_list %}
<div class="panel panel-primary">
	<div class="panel-heading"><h1 class="panel-title">{{ notebook }}</h1></div>
	<div class="panel-body">
		<ul class="list-group">
			{% for note_ in notes %}
			<li class="list-group-item{% if note == note_ %} active{% endif %}">
			<a href="/edit/{{ notebook }}/{{ note_ }}">{{ note_ }}</a>
			<div class="btn-group pull-right">
				<button type="button" class="tb-delete-note btn btn-default btn-xs" title="Delete note"><span class="fa fa-times"></span></button>
				<button type="button" class="tb-rename-note btn btn-default btn-xs" title="Rename note"><span class="fa fa-pencil"></span></button>
				<button type="button" class="tb-duplicate-note btn btn-default btn-xs" title="Duplicate note"><span class="fa fa-clone"></span></button>
			</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}